[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = "3.7"

[packages]
pyspark = ">=2.4.0"
pyspark-stubs = ">=2.4.0.post8"
matplotlib = ">=3.2.1"
Pandas = ">=1.0.4"

[dev-packages]
pytest = "*"
pytest-spark = ">=0.4.4"
importlib-metadata = ">=1.6.1"
